@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
@import url('./personas.css');
@import url('./proyectos.css');

* {
    font-family: 'Source Sans Pro', sans-serif;
}


.mostrar {
    display: block;
}
.ocultar {
    display: none;
}
